<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ page.title }}{% endblock %} | {{ site.title }}</title>
  <!-- For Style Guide Only -->
  <link rel="stylesheet" href="{{ site.url }}/assets/css/styleguide/styleguide.css">
  {# Favicon, replace as needed #}
  <link rel="shortcut icon" href="{{ site.url }}/assets/favicon.ico" />

  <link rel="stylesheet" href="{{ site.url }}/assets/css/styles.css">
</head>
